<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Force HTTPS (Opsional, hapus jika SSL belum aktif di InfinityFree)
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Jika file atau folder fisik ada (seperti CSS/JS/Gambar), tampilkan file tersebut
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Jika tidak ada, arahkan ke index.php
    RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
</IfModule>